:root {

    --background-color: darkblue;
    --primary-padding: 5px;
    --primary-text-color: white;

}

header {

    border-bottom: 2px dotted darkblue;
    padding: 5px;
}

nav {

    background-color: var(--background-color);
    padding: var(--primary-padding);

}

nav a {

    color: var(--primary-text-color);
    display: block;
    padding: var(--primary-padding);

}

h1 {

    color: var(--background-color);

}

main img {

    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;

}

p {

    padding: 0;

}

main {

    max-width: 700px;
    margin: 20px;
}

aside {

    width: 700px;
    margin: 20px;
    border: 2px solid white;
    padding: 10px;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    overflow: auto;

}

aside img {

    width: 200px;
    height: auto;
    float: left;
    margin: 10px
}

footer {

    margin-top: 20px;
    border-top: 2px dotted darkblue;
    text-align: center;
}